body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #93b8f5;
    font-family: 'Dancing Script', Dancing Script;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #3b3ef5;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
